<div class="row">

  <div class="">
  	<p>「おすすめのマンガ（映画、ドラマ,etc...）教えて！」</p>
  	<p>こんな質問受けて回答に困ったことはありませんか？<br>
    そんな時に自分の記憶をメモしておけば万事解決です。</p>
    <p>使い方は簡単。<br>
    会員登録をして、レビューを投稿するだけ。<br>
    日記のように細かく記載するのも良し、見出しと星評価をつけるだけでも大丈夫です。<br>
	お気軽にご利用ください。</p>
  </div>
	
</div>