<div class="row justify-content-center">

  <div class="mt-5">
  	<p>「おすすめのマンガ（映画、ドラマ,etc...）教えて！」</p>
  	<p>こんな質問受けて即答できずに困ったことはありませんか？<br>
    そんな時にこのサイトを利用すれば手助けになるかもしれません。</p>
    <p>使い方は簡単。<br>
    会員登録をして、レビューを投稿するだけ。<br>
    ５段階の星評価や、ジャンル分別を利用することで見やすいものとなります。<br>
	お気軽にご利用ください。</p>
  </div>
	
</div>