<div class="">
	<h1>レビュー置き場</h1>
	<p>Find me in app/views/top/index.html.erb</p>
</div>

<div class="">
	<a class="" href="/users/sign_up"> 新規登録</a>
</div>

<div class="">
	<a class="" href="/users/sign_in"> ログイン</a>
</div>