<!-- エラーメッセージ表示 -->

<% if model.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <li>aaa</li>
      <% end %>
    </ul>
  </div>
<% end %>